@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply h-screen;
    @apply bg-gradient-to-bl;
    @apply from-gray-800 to-gray-900;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
}
